---
import '../../styles/site.css';
import PublicShell from '../shell/PublicShell.astro';
import ShellIconLink from '../shell/ShellIconLink.astro';
import { SITE_NAV_GROUPS } from '../../utils/routes.ts';
import { SITE } from '../../utils/seo.ts';
import { SITE_THEME_CSS } from '../../utils/site-config.ts';
import { normalizeThemePreference } from '../../utils/theme.ts';

const { title, description, currentPath = '/' } = Astro.props;
const appearance = normalizeThemePreference({
	scheme: SITE.theme?.defaultScheme,
	mode: SITE.theme?.defaultMode,
});
const navItems = SITE_NAV_GROUPS.flatMap((group) => group.items);
---

<PublicShell
	title={title ? `${title} | ${SITE.name}` : SITE.name}
	description={description ?? SITE.description}
	currentPath={currentPath}
	appearance={appearance}
	brand={{
		name: SITE.name,
		tag: SITE.statement,
		href: '/',
		logoSrc: SITE.logo.src,
		logoAlt: SITE.logo.alt,
	}}
	navItems={navItems}
	navGroups={SITE_NAV_GROUPS}
	contentWidth="content"
>
	<Fragment slot="head">
		{SITE_THEME_CSS && <style is:global>{SITE_THEME_CSS}</style>}
	</Fragment>
	<Fragment slot="actions">
		<ShellIconLink href="/app/" label="Manager" icon="manager" />
		<a
			href={SITE.githubRepository}
			target="_blank"
			rel="noreferrer"
			aria-label={`${SITE.name} GitHub repository`}
			title={`${SITE.name} GitHub repository`}
			class="ts-public-shell__icon-link"
		>
			<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" aria-hidden="true" focusable="false">
				<path d="M8 0C3.58 0 0 3.67 0 8.2c0 3.63 2.29 6.7 5.47 7.78.4.08.55-.18.55-.39 0-.2-.01-.85-.01-1.54-2.01.38-2.53-.5-2.69-.95-.09-.24-.48-.95-.82-1.15-.28-.15-.68-.54-.01-.55.63-.01 1.08.59 1.23.84.72 1.24 1.87.89 2.33.68.07-.54.28-.89.5-1.09-1.78-.21-3.64-.92-3.64-4.08 0-.9.31-1.64.82-2.22-.08-.21-.36-1.06.08-2.2 0 0 .67-.22 2.2.85A7.34 7.34 0 0 1 8 4.83c.68 0 1.37.09 2.01.27 1.53-1.07 2.2-.85 2.2-.85.44 1.14.16 1.99.08 2.2.51.58.82 1.31.82 2.22 0 3.17-1.87 3.87-3.65 4.08.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.19 0 .21.15.48.55.39A8.22 8.22 0 0 0 16 8.2C16 3.67 12.42 0 8 0Z" />
			</svg>
		</a>
		<a
			href={SITE.discordLink}
			target="_blank"
			rel="noreferrer"
			aria-label={`${SITE.name} Discord`}
			title={`${SITE.name} Discord`}
			class="ts-public-shell__icon-link"
		>
			<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" focusable="false">
				<path d="M20.317 4.369A19.791 19.791 0 0 0 15.885 3c-.191.328-.403.762-.554 1.104a18.27 18.27 0 0 0-5.314 0A11.64 11.64 0 0 0 9.463 3a19.736 19.736 0 0 0-4.433 1.369C2.227 8.617 1.468 12.759 1.848 16.845a19.9 19.9 0 0 0 5.437 2.755c.438-.6.825-1.236 1.157-1.902-.637-.241-1.246-.545-1.818-.9.152-.111.3-.229.444-.347 3.507 1.648 7.316 1.648 10.782 0 .145.118.293.236.444.347-.573.355-1.183.659-1.82.9.332.666.719 1.302 1.158 1.902a19.87 19.87 0 0 0 5.438-2.755c.446-4.737-.762-8.842-3.753-12.476ZM9.954 14.379c-1.053 0-1.918-.966-1.918-2.153 0-1.188.845-2.153 1.918-2.153 1.082 0 1.938.975 1.918 2.153 0 1.187-.846 2.153-1.918 2.153Zm4.092 0c-1.053 0-1.918-.966-1.918-2.153 0-1.188.845-2.153 1.918-2.153 1.082 0 1.938.975 1.918 2.153 0 1.187-.836 2.153-1.918 2.153Z" />
			</svg>
		</a>
		<a
			href="/contact/"
			aria-label={`Contact ${SITE.name}`}
			title={`Contact ${SITE.name}`}
			class="ts-public-shell__icon-link ts-public-shell__icon-link--stroke"
		>
			<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" focusable="false">
				<path d="M3.75 6.75h16.5v10.5H3.75z" />
				<path d="m4.5 7.5 7.5 6 7.5-6" />
			</svg>
		</a>
	</Fragment>
	<slot />
</PublicShell>
