---
interface SelectOption {
	label: string;
	value: string;
	disabled?: boolean;
}

interface Props {
	name: string;
	id?: string;
	value?: string;
	options: SelectOption[];
	required?: boolean;
	disabled?: boolean;
	ariaDescribedby?: string;
	class?: string;
	[key: string]: unknown;
}

const {
	name,
	id = name,
	value,
	options,
	required = false,
	disabled = false,
	ariaDescribedby,
	class: className,
	...selectAttributes
} = Astro.props as Props;
---

<select
	{...selectAttributes}
	class:list={['ts-control', 'ts-control--select', className]}
	id={id}
	name={name}
	required={required}
	disabled={disabled}
	aria-describedby={ariaDescribedby}
>
	{options.map((option) => (
		<option value={option.value} selected={option.value === value} disabled={option.disabled}>
			{option.label}
		</option>
	))}
</select>
